{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>車價行情估計平台</title>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href=" https://fonts.googleapis.com/css?family=Lora">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="static/css/styles.min.css"> -->

</head>

<body class="container">
    <div class="jumbotron" style="background-color:rgb(255,255,255);">
    	<img src="{% static 'price-index-kv-2.jpg' %}" style="width:100%;margin-top:-29px;height:232px;">
        <h1 style="margin-top:18px;">車價行情估計模型使用平台</h1>
        <p><br>輸入資料: 廠牌、車型、顏色、排氣量、里程數、出廠時間、結構評價、內裝評價、車源、委拍時間<br><br></p>
        <div class="btn-toolbar">
            <div class="btn-group" role="group"></div>
        </div>

        <form action="/predict" method="POST">
        	{% csrf_token %} 
                <div class="input-group mb-3">
                    <label class="input-group-text" for="brand">廠牌：</label>
                    <select class="form-control" id="brand" name="brand">
                        <option value="0">請選擇：</option>
                        <option value="TOYOTA">TOYOTA</option>
                        <option value="FORD">FORD</option>
                        <option value="HONDA">HONDA</option>
                        <option value="MITSUBISHI">MITSUBISHI</option>
                        <option value="NISSAN">NISSAN</option>
                        <option value="LUXGEN">LUXGEN</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="type">車型：</label>
                    <select class="form-control" id="type" name="type">
                        <!-- <option selected>請選擇：</option> -->
                        <!-- <option value="ALTIS">ALTIS</option> -->
                        <!-- <option value="ALTISHYBRID">ALTIS HYBRID</option> -->
                        <!-- <option value="YARIS">YARIS</option> -->
                        <!-- <option value="RAV4">RAV4</option> -->
                        <!-- <option value="RAV4HYBRID">RAV4 HYBRID</option> -->
                        <!-- <option value="CAMRY">CAMRY</option> -->
                        <!-- <option value="CAMRYHYBRID">CAMRY HYBRID</option>
                        <option value="CAMRYSOLARA">CAMRY SOLARA</option> -->
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="color">顏色：</label>
                    <select class="form-control" id="COLOR" name="COLOR">
                        <!-- <option selected>請選擇：</option> -->
                        <option value="黑">黑</option>
                        <option value="白">白</option>
                        <option value="銀">銀</option>
                        <option value="灰">灰</option>
                        <option value="藍">藍</option>
                        <option value="紅">紅</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">排氣量(cc)：</span>
                    <input type="text" id="EXHAUST" name="EXHAUST" class="form-control" aria-label="Sizing example input" aria-describedby="EXHAUST">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">里程數(km)：</span>
                    <input type="text" id="NUM_TRAVEL" name="NUM_TRAVEL" class="form-control" aria-label="Sizing example input" aria-describedby="NUM_TRAVEL">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">出廠時間(YYYY.MM) (請輸入小於(含)10年以內的車)：</span>
                    <input type="text" id="YM_MFG" name="YM_MFG" class="form-control" aria-label="Sizing example input" aria-describedby="YM_MFG">
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="CAREVU">結構評價：</label>
                    <select class="form-control" id="CAREVU" name="CAREVU">
                        <!-- <option selected>請選擇：</option> -->
                        <option value="A++">A++</option>
                        <option value="A+">A+</option>
                        <option value="A">A</option>
                        <option value="B++">B++</option>
                        <option value="B+">B+</option>
                        <!-- <option value="B">B</option>
                        <option value="C++">C++</option>
                        <option value="C+">C+</option>
                        <option value="C">C</option> -->
                        <!-- <option value="N">N</option> -->
                    </select>
                </div>
                
                <div class="input-group mb-3">
                    <label class="input-group-text" for="type">內裝評價：</label>
                    <select class="form-control" id="INSIDEVU" name="INSIDEVU">
                        <!-- <option selected>請選擇：</option> -->
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <!-- <option value="E">E</option> -->
                    </select>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="SOU">車源：</label>
                    <select class="form-control" id="SOU" name="SOU">
                        <!-- <option selected>請選擇車源：</option> -->
                        <option value="一般委拍">委拍</option>
                        <option value="租賃">租賃</option>
                        <option value="法拍">法拍</option>
                        <!-- <option value="其他租賃">其他租賃</option>
                        <option value="法拍">法拍</option>
                        <option value="其他法拍">其他法拍</option>
                        <option value="個人委拍">個人委拍</option>
                        <option value="收購">收購</option> -->
                    </select>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">委拍時間：(YYYYMMDD)</span>
                    <input type="text" id="BSELL_DATE_NO" name="BSELL_DATE_NO" class="form-control" aria-label="Sizing example input" aria-describedby="BSELL_DATE_NO">
                </div>
                
                <br>
                <div class="input-group mb-3">
                    <input type="submit" id="predict" name="predict" value="計算" class="btn btn-success">
                </div>                
        </form>
    <div class="article-clean"></div>
    <div></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script>
        $("#brand").change(function(){
            switch ($(this).val()){

                case '0': 
                    $("#type option").remove();
                    break;

                case 'TOYOTA':
                    $("#type option").remove();
                    var array = [ "86", "ALPHARD", "ALTIS", "AURIS", "CAMRY", "INNOVA", "PREVIA", "PRIUS", "RAV4", "SIENNA", "SIENTA", "VIOS", "WISH", "YARIS"];
                    $.each(array, function(i, val) {
                        $("#type").append($("<option value='" + array[i] + "'>" + array[i] + "</option>"));
                    });      
                    break;       
                         
                case 'FORD':
                    $("#type option").remove();
                    var array = [ "ECONOVAN", "ECOSPORT", "ESCAPE", "ESCORT", "FIESTA", "FOCUS", "KUGA", "MONDEO", "RANGER", "TOURNEO"];                    
                    $.each(array, function(i, val) {
                        $("#type").append($("<option value='" + array[i] + "'>" + array[i] + "</option>"));
                    });      
                    break;
                case 'HONDA':
                    $("#type option").remove();
                    var array = [ "ACCORD", "CITY", "CIVIC", "FIT", "INSIGHT", "ODYSSEY"];
                    $.each(array, function(i, val) {
                        $("#type").append($("<option value='" + array[i] + "'>" + array[i] + "</option>"));
                    });      
                    break;
                case 'MITSUBISHI':
                    $("#type option").remove();
                    var array = [ "GRUNDER", "LANCER", "OUTLANDER", "SAVRIN", "ZINGER"];
                    $.each(array, function(i, val) {
                        $("#type").append($("<option value='" + array[i] + "'>" + array[i] + "</option>"));
                    });      
                    break;
                case 'NISSAN':
                    $("#type option").remove();
                    var array = [ "370Z", "BLUEBIRD", "JUKE", "KICKS", "LIVINA", "MARCH", "MURANO", "ROGUE", "SENTRA", "SERENA", "TEANA", "TIIDA"];
                    $.each(array, function(i, val) {
                        $("#type").append($("<option value='" + array[i] + "'>" + array[i] + "</option>"));
                    });      
                    break;
                case 'LUXGEN':
                    $("#type option").remove();
                    var array = [ "M7", "S3", "S5", "U5", "U6", "U7", "URX", "V7"];
                    $.each(array, function(i, val) {
                        $("#type").append($("<option value='" + array[i] + "'>" + array[i] + "</option>"));
                    });      
                    break;
            }
        });
    </script>

</body>

</html>