{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>車價行情估計平台</title>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href=" https://fonts.googleapis.com/css?family=Lora">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="static/css/styles.min.css"> -->

</head>

<body class="container">
    <div class="jumbotron" style="background-color:rgb(255,255,255);">
    	<img src="{% static 'price-index-kv-2.jpg' %}" style="width:100%;margin-top:-29px;height:232px;">
        <h1 style="margin-top:18px;">車價行情估計模型使用平台</h1>
        <p><br>輸入資料: 廠牌、車型、顏色、排氣量、里程數、出廠時間、結構評價、內裝評價、車源、委拍時間<br><br></p>
        <div class="btn-toolbar">
            <div class="btn-group" role="group"></div>
        </div>

        <span class="input-group-text">估算價格：{{ result }}</span><br>
        原始條件：<br>
        <span class="input-group-text" style="text-align: left;">
            廠牌：{{ origin.brand }}<br>
            車型：{{ origin.type }}<br>
            顏色：{{ origin.COLOR }}<br>
            排氣量(cc)：{{ origin.EXHAUST }}<br>
            里程數(km)：{{ origin.NUM_TRAVEL }}<br>
            出廠年份：{{ origin.YM_MFG }}<br>
            結構評價：{{ origin.CAREVU }}<br>
            內裝評價：{{ origin.INSIDEVU }}<br>
            車源：{{ origin.SOU }}<br>
            委拍時間：{{ origin.BSELL_DATE_NO }}<br>
        </span>
        <br>
        <input class="btn btn-success" type ="button" onclick="history.back()" value="重新查詢"></input>

    <div class="article-clean"></div>
    <div></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <!-- <script type="text/javascript">
        $(document).ready(function(){
            $("#predict").click(function(){
                var brand=$("#brand").val();
                var type=$("#type").val();
                var EXHAUST=$("#EXHAUST").val();
                var NUM_TRAVEL=$("#NUM_TRAVEL").val();
                var YM_MFG=$("#YM_MFG").val();
                var CAREVU=$("#CAREVU").val();
                var INSIDEVU=$("#INSIDEVU").val();
                var SOU=$("#SOU").val();
                var BSELL_DATE_NO=$("#BSELL_DATE_NO").val();
                var checked = document.querySelector('[id=milePromise]:checked')

                $.ajax({
                    type: 'POST',
                    url: "/predict",
                    data: {
                        csrfmiddlewaretoken: window.CSRF_TOKEN,
                        'data': 
                        {
                            'brand':brand,
                            'type':type,
                            'EXHAUST':EXHAUST,
                            'NUM_TRAVEL':NUM_TRAVEL,
                            'YM_MFG':YM_MFG,
                            'CAREVU':CAREVU,
                            'INSIDEVU':INSIDEVU,
                            'SOU':SOU,
                            'BSELL_DATE_NO':BSELL_DATE_NO,
                            'checked':checked
                        }
                    },
                }).then(function(data, status){
                    $("#price").html(data); 
                })
                ;
            });
        });
    </script> -->
</body>

</html>